*body{
    padding: 0px;
    margin: 0px;
}
.Home{
    background-image: url("assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9px;
    height: 300px;
    background-color: cornsilk;
}
.about-naming{
    background-image: url("assets/bgform1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: larger;
    opacity: 0.9px;
}

.page-footer{
    background-color: black;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 600px){
    .overlay{
        margin-left: 1px;
        margin-right: 1px;
    }
}
@media screen and (max-width: 800px) {
    .overlay{
        margin-left: 1px;
        margin-right: 1px;
    }
}